--extra-index-url https://download.pytorch.org/whl/cu118

aiokafka==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.9.0 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.11" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
dependency-injector==4.46.0 ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.115.12 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.18.0 ; python_version >= "3.11" and python_version < "4.0"
fonttools==4.56.0 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2025.3.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.7 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "4.0"
kiwisolver==1.4.8 ; python_version >= "3.11" and python_version < "4.0"
lap==0.5.12 ; python_version >= "3.11" and python_version < "4.0"
lock==2018.3.25.2110 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.10.1 ; python_version >= "3.11" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
networkx==3.4.2 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.1.1 ; python_version >= "3.11" and python_version < "4.0"
nvidia-cublas-cu11==11.11.3.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-cupti-cu11==11.8.87 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-nvrtc-cu11==11.8.89 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-runtime-cu11==11.8.89 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cudnn-cu11==9.1.0.70 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufft-cu11==10.9.0.58 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-curand-cu11==10.3.0.86 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusolver-cu11==11.4.1.48 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparse-cu11==11.7.5.86 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nccl-cu11==2.21.5 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvtx-cu11==11.8.86 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
opencv-contrib-python==4.11.0.86 ; python_version >= "3.11" and python_version < "4.0"
opencv-python==4.11.0.86 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
pillow==11.1.0 ; python_version >= "3.11" and python_version < "4.0"
protobuf==6.30.2 ; python_version >= "3.11" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.11" and python_version < "4.0"
py-cpuinfo==9.0.0 ; python_version >= "3.11" and python_version < "4.0"
pycairo==1.27.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.33.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.11.1 ; python_version >= "3.11" and python_version < "4.0"
pygobject==3.50.0 ; python_version >= "3.11" and python_version < "4.0"
pyparsing==3.2.3 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
ray==2.44.1 ; python_version >= "3.11" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
rpds-py==0.24.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.15.2 ; python_version >= "3.11" and python_version < "4.0"
seaborn==0.13.2 ; python_version >= "3.11" and python_version < "4.0"
setuptools==78.1.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.46.1 ; python_version >= "3.11" and python_version < "4.0"
sympy==1.13.1 ; python_version >= "3.11" and python_version < "4.0"
torch==2.6.0+cu118 ; python_version >= "3.11" and python_version < "4.0"
torchvision==0.21.0+cu118 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
triton==3.2.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
typing-extensions==4.13.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "4.0"
ultralytics-thop==2.0.14 ; python_version >= "3.11" and python_version < "4.0"
ultralytics==8.3.98 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.34.0 ; python_version >= "3.11" and python_version < "4.0"
